{% extends "base.html" %} {% block titulo %} Lista de Mis Ofertas {% endblock %}

{% block contenido_principal %}
<h2>Lista De Mis Ofertas</h2>


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Titulo</th>
            <th>Detalles</th>
            <th>Precio</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in ofertas %}
        <tr>
            <td>{{ oferta.titulo }}</td>
            <td>{{ oferta.detalles }}</td>
            <td>{{ oferta.precio }}€</td>

            {% if oferta.comprada %}
            <td>Vendida</td>
            {% elif !oferta.comprada and !oferta.destacar%}
            <td>
                <a href="/oferta/destacar/{{ oferta._id.toString() }}">Destacar</a> <br>
                <a href="/oferta/eliminar/{{ oferta._id.toString() }}">Eliminar</a> <br>
            </td>
            {% elif !oferta.comprada and oferta.destacar%}
            <td>Destacada</td>
            <td><a href="/oferta/eliminar/{{ oferta._id.toString() }}">Eliminar</a></td>
            {% else %}
            <td>
                <a href="/oferta/eliminar/{{ oferta._id.toString() }}">Eliminar</a> <br>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
