{% extends "base.html" %} {% block titulo %} Lista usuarios {% endblock %}

{% block contenido_principal %}
<h2>Lista usuarios</h2>


<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Email</th>
      <th>Nombre</th>
      <th>Apellidos </th>
      <th class="col-md-1"></th>
    </tr>
    </thead>
    <form method="post" action="/usuarios/eliminar">
      <tbody>
      {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellidos }}</td>
        <td>
        <input type="checkbox" name="usuarios" value="{{usuario.email}}">
        </td>
      </tr>
      {% endfor %}
      </tbody>

  </table>
  <button type="submit" class="btn btn-primary" id="btnEliminar">Eliminar</button>
  </form>
</div>

{% endblock %}
